---
layout: page
permalink: /resume/
category: resume
use_math: true
---
<br>
<a name="resume_link"></a>
<h1 align="left"> Resume/CV</h1>
<div class="container">
{% for post in site.categories.resume %}
{% if post.tags contains "resume" %}
{% if post.foreign_url == null %}
<div class="card post post-link" href="{{ post.url }}">
{% else %}
<div class="card post post-link" href="{{ post.foreign_url }}" foreign=true>
{% endif %}
    <div class="card-block">
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" width=250 src="../assets/img/{{ post.image }}">
            </div>
            <div class="col-8">
                <h4 class="header">{{ post.title }}</h4>
                <hr class="small-margin">
                <article class="text main">
                    {{ post.excerpt }}
                </article>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div class="timestamp">
            Publication Date: {{ post.date | date_to_long_string }}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
<br>
<a name="work_exp_link"></a>
<h1 align="left"> Work Experience</h1>
<div class="container">
{% for post in site.categories.resume %}
{% if post.tags contains "experience" %}
{% if post.foreign_url == null %}
<div class="card post post-link" href="{{ post.url }}#work_exp_link">
{% else %}
<div class="card post post-link" href="{{ post.foreign_url }}#work_exp_link" foreign=true>
{% endif %}
    <div class="card-block">
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" width=250 src="../assets/img/{{ post.image }}">
            </div>
            <div class="col-8">
                <h4 class="header">{{ post.title }}</h4>
                <hr class="small-margin">
                <article class="text main">
                    {{ post.excerpt }}
                </article>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div class="timestamp">
            Publication Date: {{ post.date | date_to_long_string }}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
<br>
<a name="tech_link"></a>
<h1>Technical skills</h1>
<div class="container">
{% for post in site.categories.resume %}
{% if post.tags contains "technical_skills" %}
{% if post.foreign_url == null %}
<div class="card post post-link" href="{{ post.url }}#tech_link">
{% else %}
<div class="card post post-link" href="{{ post.foreign_url }}#tech_link" foreign=true>
{% endif %}
    <div class="card-block">
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" width=250 src="../assets/img/{{ post.image }}">
            </div>
            <div class="col-8">
                <h4 class="header">{{ post.title }}</h4>
                <hr class="small-margin">
                <article class="text main">
                    {{ post.excerpt }}
                </article>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div class="timestamp">
            Publication Date: {{ post.date | date_to_long_string }}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
