html {
    height: 100%;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Fira Sans" Fira Mono;
    font-weight: 500;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/* This controls main shape of blog posts */
body {
    position: relative;
    min-height: 100%;
    padding-bottom: 6rem;
    background: #282c34;
    line-height: 175%;
    font-size:15px;
    width: 750px;
    margin: auto;
}

h1,h2,h3,h4,h5,h6
{
  /*font-family:"Helvetica Neue", helvetica, "Open Sans", sans-serif; */
  /*font-family: 'Droid Sans Mono', monospace;*/
  color:#e06c75;
  line-height: 150%
}

h1
{
  font-weight:700;
  color:#e06c75;
  font-size:1.55em;
}

h2
{
  font-size: 1.45em;
  color: #e06c75;
}

h3
{
  font-size: 1.35em;
  color: #e06c75;
}

/* Makes font heavier
h2,h3
{
  font-weight:700
}extended
*/

h1 a,h2 a,h3 a,h4 a
{
  color:#e06c75;
}

h4
{
  font-size: 1.25em;
  color: #e06c75;
}

h5
{
  color:#f87e6f;/*# 3535f5*/
  font-size: 1.1em;
}

h6
{
  color:  #e06c75;
  font-size: 1em;
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover
{
  color:#e06c75
}

p
{
  /*font-family: 'Fira Sans' Fira Mono;*/
  font-size: 1.1em;
  /*font-weight: 500;*/
  color: #cfd7e6;
}

p.red
{
  color: red
}

.bullet {
  color: #cfd7e6;
}

.math {
  color: #cfd7e6;
}
 /* unvisited link */
 a:link {
  color: #61afef;
}

/* visited link */
a:visited {
  color: #61afef;
}

/* mouse over link */
a:hover {
  color: #61afef;
}

/* selected link */
a:active {
  color: #61afef;
} 

/* ---------- */
/* Top Header */
/* ---------- */

.topmost {
    height: 150px;
    text-align: center;
    background: white;
    background-image: url('/assets/img/robot_banner.jpg');
    position: relative;
  /*  opacity: 0.9; */
}

.topmost .text, .topmost .image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.topmost .title {
    padding-top: 20px;
    font-size: 4em;
    font-family: "Coda", cursive;
    line-height: 1em;
    color: #891408;
}

.topmost .subtitle {
    padding-bottom: 20px;
    font-size: 1.2em;
    font-family: "Space", monospace;
    color: #891408;
}

.topmost .bold_subtitle {
    padding-bottom: 20px;
    font-size: 1.2em;
    font-family: "Space", monospace;
    color: #891408;
}


/* ---------- */
/* Navigation */
/* ---------- */

.nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    background: #44494d;
    display: block;
    /*font-family: "Space Mono", monospace;*/
    width: 100%;
}

.nav li {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 120px;  /* navigation banner at top Blog Projects etc..*/
    line-height: 50px;
    font-size: 1.4em;
    /*font-family: "Share", cursive;*/
    margin-right: -4px;
}

.nav a {
    display: block;
    color: white;
}

.nav a:hover,
.nav a.active {
    background: darkorange;  /* darkorange  or # 97C2A7*/
    color: ghostwhite;
}


/*.nav li:hover,
.nav li.active {
    background: darkorange;
    color: ghostwhite;
}*/

.nav a, .nav a:hover {
    text-decoration: none;
}


/* ------ */
/* Footer */
/* ------ */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;  /* MW added this */
    text-align: center;
    padding: 1rem;
    background-color: #3c3c3c;
    color: white;
}

/* --------------- */
/* Posts and Cards */
/* --------------- */

.post {
    margin-bottom: 2em;
}

.post:last-child {
    margin-bottom: 0;
}

.card.post {
    cursor: pointer;
    background: #eef6e8;
}

.post .header {
    font-family: "Share", cursive;
    font-size:25px;
}

.post h4.header:hover {
    color: royalblue;
}

.post .timestamp {
    font-size: 0.9em;
    /*: "Space Mono", monospace;*/
    text-align: right;
    color: #ad270d;
}

.post .timestamp_code {
    font-size: 0.9em;
    /*font-family: "Space Mono", monospace;*/
    text-align: right;
    color: #272ded ;
    font-weight: bold;
}

.post .text {
    /*font-family: "Roboto", monospace;*/
    text-align: justify;
}

.post .text.digest {
    color: dimgray;
}

.post .header.centered,
.post .tags.centered {
    text-align: center;
}

.list-of-contents h4 {
    /*font-family: "Roboto", monospace;*/
    color: #e06c75;
}

hr {
    margin-top: 0;
}

hr.with-margin {
    margin-top: 2em;
}

hr.small-margin {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

.post .tags {
    text-align: right;
    /*font-family: "Space Mono", monospace;*/
    font-size: 0.9em;
    margin-bottom: 1em;
}

.post .tags span {
    color: royalblue;
    font-weight: bold;
}

/* --------- */
/* Container */
/* --------- */

.container {
    margin-top: 2em;
}


/* --------------- */
/* Contact buttons */
/* --------------- */

.link-container {
    text-align: center;
}

.link-container ul {
    list-style: none;
}

.link-container li img {
    height: 90px;
    padding-bottom: 1em;
}

img.button-image {
    height: 50px;
}

/* ----------------- */
/* Banners and notes */
/* ----------------- */

blockquote {
  border-width: 2px 2px 2px 10px;
  border-style: solid;
  padding: 0.5em 0.5em;
  border-color: #98c379;  /* dodgerblue */
  color: #cfd7e6;
  font-weight: 500;
}

blockquote:before {
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

blockquote.warning {
    /*background: antiquewhite;*/
   /* border-color: darkorange;*/
}

blockquote.tip {
    /*background: #e5c07b;*/
    /*border-color: #61afef;  /* dodgerblue */*/
    /*color: #cfd7e6;*/
}

blockquote.algo {
  /*background: white;*/
  padding-top: 1em;
  padding-bottom: 0;
  padding-right: 2em;
  /*border-color: #A90404;*/
}

blockquote.algo li:not(:last-child) {
  padding-bottom: 0.5em;
}

blockquote.math {
  /*background: #eef6e8;*/
  padding-top: 0em;
  padding-bottom: 0em;
  padding-right: 2em;
  border-color: black;
}

blockquote.comment {
    /*background: ghostwhite;*/
    /*border-color: #06a006;*/
}

/* ------ */
/* Images */
/* ------ */

.center-image {
    margin: 0 auto;
    display: block;
}

/* ----- */
/* Other */
/* ----- */

p.huge {
  /*font-family: "Share";*/
  font-weight: normal;
  font-size: 1.5em;
}

/* Text that goes below image */
em.figure {
  padding-top: 1em;
  display: block;
  text-align: center
}

ul.list-unstyled.with-padding li {
  padding-left: 2em;
}

.top-offset {
  padding-top: 1em;
}

/* From Keng blog */
div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning, div.sidebar {
/* stolen from Boostrap 3 (.panel .panel-default) */
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  padding: 0 15px 15px 15px;
}

div.attention, div.caution, div.danger, div.error, div.warning {
  /* stolen from Boostrap 3 (.panel .panel-danger) */
  border-color: #EBCCD1;
}

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title, div.sidebar p.sidebar-title,
div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title {
/* stolen from Boostrap 3 (.panel .panel-default .panel-heading) */
  font-size: 16px;
  color: #333;
  background-color: #F5F5F5;
  padding: 10px 15px;
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333;
  background-color: #F5F5F5;
  border-color: #DDD;
}

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title {
  /* stolen from Boostrap 3 (.panel .panel-danger) */
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}
